<div id="content" class="col-lg-10" style="margin-left :7vw;">
  
  <header id = "header" class="col-lg-12">
      <h1>
        {{title}}
      </h1>
  </header>

  <nav id="nav" >
    <ul class="fixed-top">
        <li><a [routerLink]="['./home']"[routerLinkActive]="['activado']">Home</a></li>
        <li><a [routerLink]="['./productos']"[routerLinkActive]="['activado']">Productos</a></li>
        <li><a href="#">Crear Producto</a></li>
        
        <form class="form" action="https://www.google.com/search" method="GET" target="_blank">
          <div class="input">
          <input class="input2" name="q" type="search" aria-label="Buscar" placeholder="Buscar" autofocus>
          <input type="hidden" name="as_sitesearch" value="norfipc.com"></div> 
        </form>
      </ul>
  </nav>  
  
  <section id="main" class="col-lg-12">
    <!---Componente actual-->
   <router-outlet></router-outlet>
  </section>
  
  <footer id="fooder" class="col-lg-12">
    <p>Curso de Angular 4 - Simon_Cebrero</p>
  </footer>

</div>




